.App {
  color: white;
}

.home {
  padding-bottom: 154px;
  background-color: rgba(0,0,0,.7);
  background-image: url(https://uploads-ssl.webflow.com/5f127ac8860f158e650f06b5/5f5923b3f775ad961072248b_rr-bg-1920w-optimized.png);
  background-position: 0 80%;
  background-size: auto;
  background-repeat: no-repeat;
}
